@model Doctor

<h1>Update</h1>

<p>
    <a asp-controller="Doctores"
       asp-action="Index">Back to List</a>
</p>

<form method="post">
    <input type="hidden" name="iddoctor" value="@Model.IdDoctor" />
    <label>Id Hospital</label>
    <input type="text" name="idhospital" value="@Model.IdHospital" class="form-control" />
    <label>Apellido</label>
    <input type="text" name="apellido" value="@Model.Apellido" class="form-control" />
    <label>Especialidad</label>
    <input type="text" name="especialidad" value="@Model.Especialidad" class="form-control" />
    <label>Salario</label>
    <input type="text" name="salario" value="@Model.Salario" class="form-control" />
    <button class="btn btn-warning">
        Update
    </button>
</form>