@model List<Comic>

<h1 style="color: blue;">
    Comics SQL y Oracle
</h1>

@Html.ActionLink("Create New", "Crear")

<div class="container">
    <div class="row">
        @foreach (Comic comic in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="@comic.Imagen" class="card-img-top" alt="@comic.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@comic.Nombre</h5>
                        <p class="card-text">@comic.Descripcion</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
