@model List<VistaPedido>

<h1>Compras del usuario: @Context.User.FindFirst("Nombre").Value</h1>

<table class="table-danger">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Precio Final</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VistaPedido pedido in Model)
        {
            <tr>
                <td>
                    <img style="width: 100px; height: 150px; margin-right: 50px;" src="~/images/@pedido.Portada" />
                </td>
                <td>@pedido.Titulo</td>
                <td>@pedido.Fecha</td>
                <td>@pedido.Precio</td>
                <td>@pedido.PrecioFinal</td>
            </tr>
        }
    </tbody>
</table>