@model Libro

<div class="row my-3">
    <div class="col-4">
        <img class="w-100" src="~/images/@Model.Portada" />
    </div>
    <div class="col-8">
        <h1>@Model.Titulo</h1>
        <h2>@Model.Autor</h2>
        <h3>Editorial: @Model.Editorial</h3>
        <h4>Precio: @Model.Precio€</h4>
    </div>
</div>
<h5>Sinopsis</h5>
<p>@Model.Resumen</p>
<a asp-controller="Libros"
   asp-action="ComprarLibro" asp-route-idlibro="@Model.IdLibro"
   class="btn btn-dark">
    Comprar
</a>