@model List<Empleado>

@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}

<h1>Paginar Grupo Empleados</h1>

@{
    int numRegistros = (int)ViewData["REGISTROS"];
    int numPagina = 1;
}

<ul class="list-group list-group-horizontal">
    @for(int i = 1; i <= numRegistros; i += 3){
        <li class="list-group-item list-group-item-warning">
            <a asp-controller="Paginacion"
               asp-action="PaginarGrupoEmpleados"
               asp-route-posicion="@i">
                @numPagina
            </a>
        </li>
        numPagina += 1;
    }
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                IdEmpleado
            </th>
            <th>
                Apellido
            </th>
            <th>
                Oficio
            </th>
            <th>
                Salario
            </th>
            <th>
                IdDepartamento
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.IdEmpleado
            </td>
            <td>
                @item.Apellido
            </td>
            <td>
                @item.Oficio
            </td>
            <td>
                @item.Salario
            </td>
            <td>
                @item.IdDepartamento
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>