@model List<Departamento>

@{
    ViewData["Title"] = "PaginarGrupoVistaDepartamento";
}

<h1 style="color: blue;">Paginar Grupo Departamento</h1>

@{
    int numeroPagina = 1;
    int numRegistros = (int)ViewData["REGISTROS"];
}

<style>
    .paginacion {
        background-color: darkorange;
    }
</style>


<ul class="list-group list-group-horizontal paginacion">
    @for (int i = 1; i <= numRegistros; i += 2)
    {
        <li class="list-group-item list-group-item-success">
            <a asp-controller="Paginacion"
               asp-action="PaginarGrupoDepartamentos"
               asp-route-posicion="@i">
                Página @numeroPagina
            </a>
        </li>
        numeroPagina++;
    }
</ul>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-danger">
    <thead>
        <tr>
            <th>
                IdDepartamento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Localidad
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdDepartamento
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Localidad
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
